.navbar .nav,.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  padding: 1%;
}

.navbar-inverse {
  background-color: #003300;
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  background-color: #002200
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #003300
}

.dropdown-menu {
  background-color: #006B00
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  background-color: #002200
}

.navbar-inverse {
  background-image: none;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  background-image: none;
}

.navbar-inverse {
  border-color: #003300
}

.navbar-inverse .navbar-brand {
  color: #FFFFFF
}

.navbar-inverse .navbar-brand:hover {
  color: #FFCC00
}

.navbar-inverse .navbar-nav>li>a {
  color: #FFFFFF
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  color: #FFCC00
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  color: #FFCC00
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
  color: #FFCC00
}

.dropdown-menu>li>a {
  color: #FFFFFF
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  color: #FFCC00
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
  border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
  border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
  border-bottom-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
  border-bottom-color: #FFFFFF
}

/***/


section.module h2 {
  margin-bottom: 40px;
  font-size: 30px;
}
section.module h6 {
  margin-bottom: 40px;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module.content {

}
section.module.parallax {
  height: 550px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 10px;
  line-height: 200px;
  font-weight: 200;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("../IMAGES/lawn.jpg");
}
section.module.parallax-2 {
  background-image: url("../IMAGES/install-2.JPG");
}
section.module.parallax-3 {
  background-image: url("../IMAGES/DSC_2208.JPG");
}
@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}

.slide {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.hasSlid {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.padding-enlarge {
   -moz-transition: padding-top .15s ease-in-out, padding-bottom .15s ease-in-out;
     -o-transition: padding-top  .15s ease-in-out, padding-bottom .15s ease-in-out;
     -webkit-transition: padding-top  .15s ease-in-out, padding-bottom .15s ease-in-out;
     transition: padding-top  .15s ease-in-out, padding-bottom .15s ease-in-out;
}

.padding-enlarge:hover {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* fotter css */
.footer{
  background-color:  #d9d9d9;
}
.name{
  background:linear-gradient(to right, #003366 0%, #660033 100%);
  padding: 1%;
}
a:hover{
  color:#0066ff;
}
.fa-google-plus:hover,.fa-youtube:hover{
  color:red;
}
.fa-linkedin:hover{
  color: #0040ff;
}
.fa-twitter:hover{
  color: #33ccff;
}
html {
  scroll-behavior: smooth;
}


/* team css */

@import url(https://fonts.googleapis.com/css?family=Open+sans);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

.snip1515 {
font-family: 'Open Sans', Arial, sans-serif;
position: relative;
margin: 10px;
min-width: 230px;
max-width: 315px;
width: 100%;
color: #000000;
text-align: center;
line-height: 1.4em;
font-size: 14px;
box-shadow: none !important;
}

.snip1515 * {
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.snip1515 .profile-image {
display: inline-block;
width: 80%;
z-index: 1;
position: relative;
padding: 10px;
border: 2px solid #e8b563;
box-shadow: -2px 6px 19px 0px #7f818e;
transition: .3s ease;
}

.snip1515 .profile-image img {
max-width: 100%;
vertical-align: top;
}

.snip1515 figcaption {
width: 100%;
background-color: #F2F2F2;
color: #555;
padding: 125px 25px 25px;
margin-top: -100px;
display: inline-block;
}

.snip1515 h3,
.snip1515 h4,
.snip1515 p {
margin: 0 0 5px;
}

.snip1515 h3 {
font-weight: 600;
font-size: 1.3em;
font-family: 'Playfair Display', Arial, sans-serif;
}

.snip1515 h4 {
color: #8c8c8c;
font-weight: 400;
letter-spacing: 2px;
}

.snip1515 p {
font-size: 0.9em;
letter-spacing: 1px;
opacity: 0.9;
}

.snip1515 .icons {
text-align: center;
width: 100%;
}

.snip1515 i {
padding: 10px 2px;
display: inline-block;
font-size: 18px;
font-weight: normal;
color: #e8b563;
opacity: 0.75;
}

.snip1515 i:hover {
opacity: 1;
-webkit-transition: all 0.35s ease;
transition: all 0.35s ease;
}


/* CAROUSEL CSS*/

.carousel-control-prev-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/*Card CSSS*/
.fancy-cards{
  text-align: center;
  margin: 80px auto;
}
.fancy-cards .fancy-card{
  display: inline-block;
  position: relative;
  top: 40px;
  left: 10px;
  box-sizing: border-box;
}

.fancy-card .top,
.fancy-card .middle,
.fancy-card .bottom{
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  margin: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 310px;
  height: 300px;
  transition: transform 300ms linear-out;
}
.fancy-card .top{
  z-index: 3;
  transform: scale(1.0);
  transition: transform 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 1px 3px rgba(25,25,25,0.30);
}
.fancy-card .middle{
  position: absolute;
  background: #aaa;
  top: 0px;
  z-index: 2;
  transform: rotate(0deg);
  transition: transform 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.fancy-card .bottom{
  position: absolute;
  background: #ccc;
  top: 0px;
  z-index: 1;
  transform: rotate(0deg);
  transition: transform 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.fancy-card .caption{
  overflow: hidden;
  background: rgba(255,255,255,0.75);
  padding: 15px 10px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.fancy-card .caption .title{
  color: #222;
  margin: 0px 0px 15px 0px;
  font-size: 2rem;
  font-weight: 800;
  font-family:'Kotta One';
}
.fancy-card .caption .button{
  display: inline-block;
  color: #333;
  font-size: 1.7rem;
  text-decoration: none;
  border: solid 1px #555;
  padding: 7px 13px;
  font-weight: 500;
  background-color: transparent;
  transition: all 300ms ease-in;
}


/*hovering*/
.fancy-card:hover .top{
  transform: scale(1.05);
}
.fancy-card:hover .middle{
 transform: rotate(-7deg);
 box-shadow: 1px 1px 2px rgba(74, 74, 74, 0.35);
}
.fancy-card:hover .bottom{
  transform: rotate(7deg);
  box-shadow: 1px 1px 2px rgba(113, 113, 113, 0.35);
}

.fancy-card:hover .button{
  background: rgba(0,0,0,0.8);
  color: #fff;
  border: 0px;
}

figcaption h3{
  font-family:'Kotta One';
}